################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CollectData/bin/
/CollectData/obj
/DataAccess/bin/
/DataAccess/obj
