<ng-container *ngIf="wordDto">
  <div class="mt-2">
    <span class="mr-3 h4">{{wordDto.content}}</span>
    <span class="text-deeppink" [innerHTML]="spelling"></span>
  </div>
  <div *ngFor="let wf of wordDto.wordForms" class="ml-4">
    <span class="mr-2">{{wf.formType}}</span>
    <a [routerLink]="['/', wf.content]" class="text-decoration-none">{{wf.content}}</a>
  </div>
  <div *ngFor="let sd of wordDto.subDictionaries" class="mt-2">
    <div *ngFor="let wc of sd.wordClasses">
      <div class="h5 text-darkblue">{{wc.name != 'Unknown' ? wc.name : 'Other'}}</div>
      <ul class="list-unstyled">
        <li *ngFor="let d of wc.definitions" class="ml-3">
          <div>
            <svg class="bi bi-caret-right-fill text-primary" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />
            </svg>
            <span class="font-weight-bold">{{d.content}}</span>
          </div>
          <div *ngFor="let u of d.usages" class="ml-3 mb-2">
            <div class="text-blueviolet">{{u.sample}}</div>
            <div class="ml-1 font-italic">{{u.translation}}</div>
          </div>
        </li>
      </ul>
    </div>

    <div *ngIf="sd.phases && sd.phases.length" class="h5">Cụm từ</div>
    <ul class="list-unstyled ml-3">
      <li *ngFor="let p of sd.phases">
        <div>
          <svg class="bi bi-caret-right-fill text-primary" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />
          </svg>
          <span class="font-weight-bold text-blueviolet">{{p.content}}</span>
        </div>
        <div *ngFor="let d of p.definitions" class="ml-3">
          <div>{{d.content}}</div>
          <div *ngFor="let u of d.usages">
            <p class="text-blueviolet">{{u.sample}}</p>
            <p class="ml-1 font-italic">{{u.translation}}</p>
          </div>
        </div>
      </li>
    </ul>
  </div>

  <div *ngIf="wordDto.relativeWords && wordDto.relativeWords.length" class="h5">Từ đồng nghĩa</div>
  <div class="ml-3 clearfix">
    <ng-container *ngFor="let rw of wordDto.relativeWords">
      <a *ngIf="rw.isSynonym"
         [routerLink]="'/' + rw.content"
         class="m-1 p-1 border rounded-pill bg-light text-decoration-none float-left text-blueviolet">
        {{rw.content}}
      </a>
    </ng-container>
  </div>
</ng-container>

<div *ngIf="isSearching" class="d-flex justify-content-center mt-2">
  <div class="spinner-border text-primary square-40" role="status">
  </div>
</div>

<div *ngIf="errorDto" class="mt-2">
  <ng-container [ngSwitch]="errorDto.code">
    <div *ngSwitchCase="404" class="mr-3 text-danger">Could not find <span class="h4">{{searchingWord}}</span> in the dictionary</div>
    <div *ngSwitchCase="500" class="mr-3 text-danger">Errors occured on the server</div>
    <div *ngSwitchDefault class="mr-3 text-danger">Something went wrong. Please try to refresh the page</div>
  </ng-container>
</div>
