<input type="text" [value]="word" class="form-control" (keyup.enter)="onEnterKeyup($event)" (input)="onInput($event)" />
<div class="position-relative suggestion-container" [style.display]="isVisible ? 'block' : 'none'">

  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 no-gutters">
    <div *ngFor="let sw of suggestionWords" class="col">
      <div class="suggestion-content" (click)="onSuggestionWordClick(sw)">
        <div class="suggestion-word">{{sw.word}}</div>
        <div *ngIf="sw.details && sw.details[0]">
          <span class="font-weight-bold mr-2">{{sw.details[0].wordClass}}</span>
          <span>{{sw.details[0].definition}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
