<div class="form-row">
  <div class="col">
    <input #searchBox
           type="text"
           [value]="word"
           class="form-control"
           placeholder="Type words here"
           (keyup.enter)="onEnterKeyup($event)"
           (input)="onInput($event)"
           (focus)="onFocus($event)"/>
  </div>
  <div class="col-auto">
    <button class="btn btn-primary ml-n2" (click)="onSearch(searchBox.value)">
      <svg class="bi bi-search" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z" />
        <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z" />
      </svg>
    </button>
  </div>
</div>

<div class="position-relative">
  <div class="position-absolute w-100 suggestion-container" [style.display]="isSuggestionPanelVisible ? 'block' : 'none'">
    <div class="row row-cols-1 row-cols-md-2 no-gutters">
      <div *ngFor="let sw of suggestionWords" class="col">

        <div class="suggestion-content" (click)="onSuggestionWordClick(sw)">
          <span class="suggestion-word">{{sw.word}}</span>
          <span class="text-deeppink ml-4">{{sw.spelling}}</span>
          <div>
            <span *ngIf="sw.wordClass != 'Unknown'" class="font-weight-bold mr-2">{{sw.wordClass}}</span>
            <span>{{sw.definition}}</span>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
